#gradle ignore
.gradle
gradle-app.setting
.gradletasknamecache

#intelij ignore
.idea

#netbeans ignore
.nb-gradle

#ignore compiled jars
*.jar

!gradle-wrapper.jar

#ignore saveddata folder
saveddata
build